@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.parallax-layer {
  position: absolute;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.transition {
  position: absolute;
  z-index: 50;
  width: 100vw;
}

#logo,
input {
  cursor: pointer;
}

#logo {
  position: absolute;
  z-index: 100;
  width: 7vw;
  top: 2vh;
  left: 2vh;
  height: 7vw;
}

* {
  font-family: Bellota;
}

#accueil {
  position: absolute;
  bottom: -1vh;
  left: -1vw;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vw;
  float: left;
}

button,
input.begin {
  width: max-content;
  height: max-content;
  margin: auto;
  background-color: #89c443;
  color: white;
  border: 5px #89c443 solid;
  border-radius: 500px;
  padding: 1vw;
  font-size: 2vw;
  outline: none;
  transition: 0.3s all ease;
  cursor: pointer;
}

button:hover,
button:focus,
input.begin:hover,
input.begin:focus {
  background-color: white;
  color: #89c443;
}

button:focus {
  transform: scale(0.95);
}

.persolif {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  grid-template-rows: 35vh 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  right: 0;
  bottom: 30vh;
  pointer-events: none;
}

.div1 {
  grid-area: 1 / 2 / 3 / 1;
  background-image: url("ressources/bulle-texte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#texte {
  max-height: 30vh;
  height: fit-content;
  width: 18vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4vw;
  white-space: pre-line;
}

[class*="reponse"] {
  white-space: nowrap;
}

.choix {
  height: fit-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50vh;
  position: fixed;
  bottom: 15vh;
}