/* body,
input {
    font-family: Bellota;
}

.nuage {
    position: absolute;
    width: 49vw;
    top: 0vh;
    right: 40vh;
}

h1,
h2,
input,
button {
    position: absolute;
    z-index: 10;
}

h1 {
    margin-top: 8vh;
    left: 40vw;
    font-size: 4vw;
}

h2 {
    margin-top: 30vh;
    left: 40vw;
    font-size: 4vw;
} */

/* #prenom {
    margin-top: 20vh;
    left: 40vw;
    width: 13vw;
    height: 8vh;
    min-height: 4vw;
    border-radius: 50px;
    border-style: hidden;
    background-color: rgb(181, 241, 181);
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    outline: none;
} */
/* 
#age {
    margin-top: 42vh;
    left: 40vw;
    width: 13vw;
    height: 8vh;
    min-height: 4vw;
    border-radius: 50px;
    border-style: hidden;
    background-color: rgb(181, 241, 181);
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    outline: none;
} */
/* 
.button {
    margin-top: 42vh;
    right: 34vw;
    width: 11vw;
    min-height: 4vw;
    border-radius: 50px;
    border-style: hidden;
    background-color: rgb(181, 241, 181);
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    outline: none;
} */

/* .button:hover {
    transition: all 1s ease;
    transform: scale(1.1);
    background-color: rgb(90, 197, 90);
}


* {
    transition-duration: 0.5s ease;
}

input:hover {
    background-color: rgb(86, 199, 86);
    transition-duration: 1s;
    transform: scale(1.5);
}

input:not(:hover) {
    transition-duration: 1s;
} */

/* img {
    position: absolute;
    z-index: 10;
    width: 7vw;
} */