@keyframes avion {
  from {
    left: -40vw;
  }

  to {
    left: 140vw;
  }
}

.immeubles {
  bottom: 34vh;
}

.route {
  bottom: -2vh;
}

.avion {
  animation: avion 30s linear forwards infinite;
}

.nuages {
  top: -2vh;
}

.dechets {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#first {
  transform: translateX(-10%);
}

#second {
  transform: translateX(10%);
}

.choix1 {
  height: fit-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50vh;
  position: fixed;
  bottom: 15vh;
}

.dechets {
  position: absolute;
}

.div2 {
  background-image: url("../../ressources/lif/lifngauche.png");
}

.div3{
  color: white;
  grid-area: 3 / 2 / 2 / 1;
  text-align: center;
  display: none;
}

.div3 p {
  margin-top: 50%;
}

.poubelles {
  display: none;
  position: absolute;
  transform-origin: bottom;
}

.validation {
  display: none;
}
