body,
input {
    font-family: Bellota;
    margin: 0;
}

.background{
    position: fixed;
    width: 100vw;
    height: 50vw;
    max-width: 100vw;
    max-height: 50vw;
}

.nuage{
    position: absolute;
    right: 0vw;
    top: 10vh;
    width: 98vh;
    height: 49vh;
}

p{
    position: absolute;
    font-size: 2vw;
    width: 80vh;
    z-index: 11;
    left: 58vw;
    top: 12vw;
}

.texte{
    right: 30vw;
    width: 98vh;
    height: 49vh;
}

.button{
    position: absolute;
    z-index: 10;
    margin-top: 42vh;
    right: 34vw;
    width: 11vw;
    min-height: 4vw;
    border-radius: 50px;
    border-style: hidden;
    background-color: rgb(181, 241, 181);
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    outline: none;
}

a.lien{
    color: black;
    text-decoration: none;
}

@media screen and (max-height: 400px) {
    #accueil {
        max-width: 800px;
    }
}

* {
    transition-duration: 0.5s ease;
}

input:hover {
    background-color: lightgreen;
    transition-duration: 1s;
    transform: scale(1.1);
}

input:not(:hover) {
    transition-duration: 1s;
}

img {
    position: absolute;
    z-index: 10;
    width: 7vw;
}

#avertissement {
    display: none;
}

@media only screen and (orientation:portrait) {


    h1,
    h2,
    a {
        display: none;
    }

    #avertissement {
        display: block;
    }

    body {
        display: flex;
        text-align: center;
        font-size: 5vh;
        align-items: center;
        justify-content: center;
    }

    img {
        z-index: -2;
        top: 35vh;
        width: 20vh;
    }

    .turn {
        top: 60vh;
        width: 40vw;
    }

    video {
        z-index: -4;
        bottom: 0vh;
    }
}

@media only screen and (orientation:landscape) {
    #avertissement {
        display: none;
    }
}