body,
input {
  font-family: Bellota;
  margin: 0;
}

.background {
  position: fixed;
  height: 100vh;
  bottom: -1vh;
}

.persolif {
  right: 5vw;
  grid-template-columns: repeat(2, 40vw);
}

.div2 {
  background-image: url("../../ressources/lif/lifngauche.png");
  width: 30vw;
  height: 80vh;
}

#texte {
  transition: 0.5s ease-in-out;
  width: 75%;
  font-size: 1.5rem;
}

.lien {
  position: absolute;
  z-index: 10;
  bottom: 15vh;
  left: 30vw;
  width: 15vw;
  height: 12vh;
  border-radius: 50px;
  border: none;
  background-color: rgb(181, 241, 181);
  font-size: 1.5em;
  outline: none;
}

input:hover {
  background-color: lightgreen;
  transition-duration: 1s;
  transform: scale(1.1);
}

input:not(:hover) {
  transition-duration: 1s;
}

#avertissement {
  display: none;
}

@media screen and (max-height: 400px) {
  #accueil {
    max-width: 800px;
  }
}

@media only screen and (orientation: portrait) {
  h1,
  h2,
  a {
    display: none;
  }

  #avertissement {
    display: block;
  }

  body {
    display: flex;
    text-align: center;
    font-size: 5vh;
    align-items: center;
    justify-content: center;
  }

  img {
    z-index: -2;
    top: 35vh;
    width: 20vh;
  }

  .turn {
    top: 60vh;
    width: 40vw;
  }

  video {
    z-index: -4;
    bottom: 0vh;
  }
}

@media only screen and (orientation: landscape) {
  #avertissement {
    display: none;
  }
}
