body {
  background-color: #f2e5c7;
}

.choix {
  height: 100vh;
  width: 100vw;
  transition-duration: 2s;
}

.elements {
  height: fit-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50vh;
  position: fixed;
  bottom: 15vh;
}

.baignoire {
  transform: translateX(10%);
}

.douche {
  transform: translateX(-10%);
}

.div2 {
  background-image: url("../../ressources/lif/lifngauche.png");
}

#port {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -10;
}