body {
  background-color: #f2e5c7;
}

.choix1 {
  height: 100vh;
  width: 100vw;
  background-image: url("../../ressources/salledebain/salledebain.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  transition-duration: 2s;
}

.elements {
  height: fit-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50vh;
  position: fixed;
  bottom: 15vh;
}

.baignoire {
  transform: translateX(10%);
}

.douche {
  transform: translateX(-10%);
}


