body {
  margin: 0;
  background-color: #f2e5c7;
  height: 100vh;
  width: 100vw;
}

.choix1 {
  height: 100vh;
  width: 100vw;
  background-image: url("../../ressources/salledebain/salledebain.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  transition-duration: 2s;
}

.elements {
  height: fit-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 50vh;
  position: fixed;
  bottom: 15vh;
}

button {
  width: max-content;
  height: max-content;
  margin: auto;
  background-color: #89c443;
  color: white;
  border: 5px #89c443 solid;
  border-radius: 500px;
  padding: 1vw;
  font-size: 2rem;
  outline: none;
  transition: 0.3s all ease;
}

.baignoire {
  transform: translateX(10%);
}

.douche {
  transform: translateX(-10%);
}

button:hover,
button:focus {
  background-color: white;
  color: #89c443;
}

button:focus {
  transform: scale(0.95);
}

.persolif {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  grid-template-rows: 35vh 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  right: 0;
  bottom: 30vh;
}

.div1 {
  grid-area: 1 / 2 / 3 / 1;
  background-image: url("../../ressources/bulle-texte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("../../ressources/lif/lifsale.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.div1 p {
  max-height: 30vh;
  height: fit-content;
  width: 18vw;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  font-size: 1.4vw;
}
