body,
input {
    font-family: Bellota;
    margin: 0;
}

.background{
    position: fixed;
    width: 100vw;
    height: 50vw;
    max-width: 100vw;
    max-height: 50vw;
}

.nuage{
    display: flex;
    position: absolute;
    left: 58vh;
    top: 3vh;
    width: 88vh;
    height: 44vh;
}

.texte p{
    position: absolute;
    font-size: 1.5vw;
    width: 30vw;
    z-index: 11;
    left: 35vw;
    top: 15vh;
    color: black;
    font-weight: 100;
}

p{
    position: absolute;
    font-size: 2vw;
    width: 80vh;
    z-index: 11;
    left: 31vw;
    top: 50vh;
    color: white;
    font-weight: 900;
}

@media screen and (max-height: 400px) {
    #accueil {
        max-width: 800px;
    }
}

* {
    transition-duration: 0.5s ease;
}

input:hover {
    background-color: lightgreen;
    transition-duration: 1s;
    transform: scale(1.1);
}

input:not(:hover) {
    transition-duration: 1s;
}

img {
    position: absolute;
    z-index: 10;
    width: 7vw;
}

#avertissement {
    display: none;
}

@media only screen and (orientation:portrait) {


    h1,
    h2,
    a {
        display: none;
    }

    #avertissement {
        display: block;
    }

    body {
        display: flex;
        text-align: center;
        font-size: 5vh;
        align-items: center;
        justify-content: center;
    }

    img {
        z-index: -2;
        top: 35vh;
        width: 20vh;
    }

    .turn {
        top: 60vh;
        width: 40vw;
    }

    video {
        z-index: -4;
        bottom: 0vh;
    }
}

@media only screen and (orientation:landscape) {
    #avertissement {
        display: none;
    }
}