@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #cbc8c5;
}

#logo {
  position: fixed;
  z-index: 100;
  width: 7vw;
  top: 2vh;
  left: 2vh;
  height: 7vw;
}

* {
  font-family: Bellota;
}

.persolif {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  grid-template-rows: 35vh 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  left: 60vw !important;
  top: 50vh !important;
  pointer-events: none;
}

.div1 {
  grid-area: 1 / 2 / 3 / 1;
  background-image: url("../img/bulle-texte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#texte {
  max-height: 30vh;
  height: fit-content;
  width: 18vw;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  font-size: 1.4vw;
}

.div2 {
  background-image: url("../img/lifngauche.png");
}

.reseaux {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  float: right  ;
}

.reseaux * {
  width: 8vw;
  margin: 1vw;
  margin-left: 2vw;
}

video {
  width: 120vw;
  top: 10vh;
}

.turntel {
  display: none;
}

@media (orientation: portrait) {
  .overflow {
    display: none;
  }

  .persolif {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: 20vh 30vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    left: 50vw !important;
    transform: translateX(-50%) translateY(-50%);
    top: 20vh !important;
    pointer-events: none;
  }

  #texte {
    font-size: 2.2vw;
    width: 75%;
  }

  .turntel {
    display: block;
    width: 50vw;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%);
  }
}
