@font-face {
    font-family: "Bellota";
    src: url("../fonts/bellota/Bellota-Bold.ttf") format("ttf");
}

h1 {
    font-family: Bellota;
    /* font-weight: bold; */
}

#accueil {
    position: fixed;
    bottom: -1vh;
    left: -1vw;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vw;
    float: left;
}

@media screen and (max-height: 400px){
    #accueil{
        max-width: 800px;
    }
}