#first {
  transform: translateX(-10%);
}

#second {
  transform: translateX(10%);
}

.choix {
  bottom: 10vh;
}

.div2 {
  background-image: url("../../ressources/lif/lifngauche.png");
}

body {
  background-color: #f2e5c7;
}

#texte {
  width: 80%;
  font-size: 1.2rem;
}

.persolif {
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: 40vh 40vh;
  pointer-events: none;
  left: 20vw;
}
